1. Importing UNdata excel by sheet (Table 1-6) and cleaning accordingly. Prepare the worksheet for data cleaning.

In [ ]:
#Yang Xuan midterm submission
# https://colab.research.google.com/drive/1Ftcft3fuxVRHNIlwunUNKxLjWJoaBqIt?usp=sharing

In [ ]:
%pwd

'/content'

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from functools import reduce
import plotly

In [ ]:
# Read multiple sheet from UNdata excel sheet into a dictionary, read-in line 14 and 15 as the header of the row
UNdata_dict_df = pd.read_excel("UN_MigrantStockTotal_2015.xlsx",
                       sheet_name=['Table 1', 'Table 2', 'Table 3', 'Table 4', 'Table 5', 'Table 6'],
                       header = [14,15])

In [ ]:
# Create 6 dataframe from the dictionary
df1 = UNdata_dict_df.get('Table 1')
df2 = UNdata_dict_df.get('Table 2')
df3 = UNdata_dict_df.get('Table 3')
df4 = UNdata_dict_df.get('Table 4')
df5 = UNdata_dict_df.get('Table 5')
df6 = UNdata_dict_df.get('Table 6')

In [ ]:
# Print out the dataframe
df1.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code   Type of data (a)  \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                NaN                900                NaN
1                (b)                901                NaN
2                (c)                902                NaN
3                (d)                941                NaN
4                NaN                934                NaN
5                (e)                947                NaN
6                NaN                903                NaN
7                NaN                910                NaN
8                NaN                108                B R
9                NaN                174                  B

  International migrant stock at mid-year (both sexes)                        \
                                                  1990       1995       2000
0                                          152563212    160801752  172703309
1                                           82378628     92306854  103375363
2                                           70184584     68494898   69327946
3                                           11075966     11711703   10077824
4                                           59105261     56778501   59244124
5                                           14690319     15324570   13716539
6                                           15690623     16352814   14800306
7                                            5964031      5022742    4844795
8                                             333110       254853     125628
9                                              14079        13939      13799

                         ... International migrant stock at mid-year (male)  \
        2005       2010  ...                                           2000
0  191269100  221714243  ...                                       87884839
1  117181109  132560325  ...                                       50536796
2   74087991   89153918  ...                                       37348043
3    9809634   10018128  ...                                        5361902
4   64272611   79130668  ...                                       31986141
5   13951086   15496764  ...                                        7210452
6   15191146   16840014  ...                                        7856358
7    4745792    4657063  ...                                        2480584
8     172874     235259  ...                                          61094
9      13209      12618  ...                                           6511

                                   \
       2005       2010       2015
0  97866674  114613714  126115435
1  57217777   64081077   67618619
2  40648897   50532637   58496816
3   5383009    5462714    6463217
4  35265888   45069923   52033599
5   7444048    8188581   10099486
6   8231437    9039314   11123423
7   2529460    2366216    3109176
8     84805     115823     141311
9      6286       6060       6071

  International migrant stock at mid-year (female)                      \
                                              1990      1995      2000
0                                         74815702  79064275  84818470
1                                         42115231  47214055  52838567
2                                         32700471  31850220  31979903
3                                          5236216   5573685   4721920
4                                         27464255  26276535  27257983
5                                          6945013   7287746   6506087
6                                          7411059   7735883   6943948
7                                          2892842   2437689   2364211
8                                           169843    130688     64534
9                                             7362      7325      7288


       2005       2010       2015
0  93402426  107100529  117584801
1  59963332   68479248   72863336
2  33439094   38621281   44721465
3   4432371    4560536    5493028
4  29006723   34060745   39228437
5   6507038    7308183    8894500
6   6959709    7800700    9526134
7   2216332    2290847    3019937
8     88069     119436     145499
9      6923       6558       6484

[10 rows x 23 columns]

In [ ]:
df2.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code  \
  Unnamed: 2_level_1 Unnamed: 3_level_1
0                NaN                900
1                (b)                901
2                (c)                902
3                (d)                941
4                NaN                934
5                (e)                947
6                NaN                903
7                NaN                910
8                NaN                108
9                NaN                174

  Total population of both sexes at mid-year (thousands)               \
                                                    1990         1995
0                                        5309667.699      5735123.084
1                                        1144463.062      1169761.211
2                                        4165204.637      4565361.873
3                                         510057.629       585189.354
4                                        3655147.008      3980172.519
5                                         491497.691       562978.224
6                                         631614.304       720416.386
7                                         198231.687       225309.503
8                                           5613.141         6239.030
9                                            415.144          479.574

                                                       ...  \
          2000         2005         2010         2015  ...
0  6126622.121  6519635.850  6929725.043  7349472.099  ...
1  1188811.731  1208919.509  1233375.711  1251351.086  ...
2  4937810.390  5310716.341  5696349.332  6098121.013  ...
3   664386.087   752804.951   847254.847   954157.804  ...
4  4273424.303  4557911.390  4849094.485  5143963.209  ...
5   642172.298   733321.659   840390.129   962286.754  ...
6   814063.149   920238.945  1044106.862  1186178.282  ...
7   259372.541   297636.467   342742.625   394477.339  ...
8     6767.073     7934.213     9461.117    11178.921  ...
9      547.696      618.632      698.695      788.474  ...

  Total male population at mid-year (thousands)                            \
                                           2000         2005         2010
0                                   3084537.662  3285082.249  3493956.904
1                                    578010.218   587962.213   599955.476
2                                   2506527.444  2697120.036  2894001.428
3                                    331482.475   375757.715   422397.532
4                                   2175044.969  2321362.321  2471603.896
5                                    319998.713   365726.398   419507.414
6                                    406405.564   459590.529    521739.73
7                                    128612.117   147723.981   170257.225
8                                      3336.457     3920.028     4667.414
9                                       275.584      311.589      352.211

               Total female population at mid-year (thousands)               \
          2015                                            1990         1995
0  3707205.753                                     2639243.998  2848487.191
1   609297.148                                      589207.436   601492.755
2  3097908.605                                     2050036.562  2246994.436
3   476031.179                                      256015.073   293162.612
4  2621877.426                                     1794021.489  1953831.824
5   481052.453                                      246907.154   282793.781
6    593454.63                                      316542.926   361007.568
7   196134.588                                      100023.041   113730.025
8     5524.232                                        2858.113     3184.663
9        397.7                                         206.932      238.627


          2000         2005         2010         2015
0  3042084.459  3234553.601  3435768.139  3642266.346
1   610801.513   620957.296   633420.235   642053.938
2  2431282.946  2613596.305  2802347.904  3000212.408
3   332903.612   377047.236   424857.315   478126.625
4  2098379.334  2236549.069  2377490.589  2522085.783
5   322173.585   367595.261   420882.715   481234.301
6   407657.585   460648.416   522367.132   592723.652
7   130760.424   149912.486     172485.4   198342.751
8     3430.616     4014.185     4793.703     5654.689
9      272.112      307.043      346.484      390.774

[10 rows x 22 columns]

In [ ]:
df3.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code   Type of data (a)  \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                NaN                900                NaN
1                (b)                901                NaN
2                (c)                902                NaN
3                (d)                941                NaN
4                NaN                934                NaN
5                (e)                947                NaN
6                NaN                903                NaN
7                NaN                910                NaN
8                NaN                108                B R
9                NaN                174                  B

  International migrant stock as a percentage of the total population (both sexes)  \
                                                                              1990
0                                            2.87331
1                                           7.198015
2                                           1.685021
3                                           2.171513
4                                           1.617042
5                                           2.988889
6                                            2.48421
7                                           3.008616
8                                           5.934467
9                                           3.391353

                                            ...  \
       1995      2000      2005       2010  ...
0  2.803806  2.818899  2.933739   3.199467  ...
1  7.891085  8.695688  9.693045  10.747765  ...
2  1.500317  1.404022  1.395066   1.565106  ...
3  2.001353  1.516863  1.303078   1.182422  ...
4  1.426534  1.386338  1.410133   1.631865  ...
5  2.722054  2.135959  1.902451   1.843996  ...
6  2.269911  1.818078  1.650783   1.612863  ...
7  2.229263   1.86789  1.594493   1.358764  ...
8  4.084818   1.85646  2.178842   2.486588  ...
9  2.906538  2.519463  2.135195   1.805938  ...

  International migrant stock as a percentage of the total population (male)  \
                                                                        2000
0                                           2.849206
1                                           8.743236
2                                           1.490031
3                                           1.617552
4                                           1.470597
5                                           2.253275
6                                           1.933132
7                                           1.928733
8                                           1.831104
9                                           2.362619

                                   \
       2005       2010       2015
0  2.979124   3.280341     3.4019
1   9.73154  10.680972  11.097807
2  1.507122   1.746117   1.888268
3  1.432574   1.293264    1.35773
4  1.519189   1.823509   1.984593
5  2.035414   1.951951   2.099456
6  1.791037   1.732533   1.874351
7  1.712288   1.389789   1.585226
8  2.163377   2.481524   2.558021
9  2.017401    1.72056   1.526528

  International migrant stock as a percentage of the total population (female)  \
                                                                          1990
0                                            2.83474
1                                           7.147777
2                                           1.595116
3                                           2.045276
4                                           1.530877
5                                           2.812803
6                                           2.341249
7                                           2.892176
8                                           5.942487
9                                            3.55769


       1995      2000      2005       2010       2015
0  2.775658  2.788169  2.887645   3.117222   3.228342
1   7.84948  8.650694  9.656595  10.811029  11.348476
2  1.417459  1.315351  1.279428   1.378176    1.49061
3  1.901226  1.418405  1.175548   1.073428   1.148865
4  1.344872  1.299002  1.296941   1.432634   1.555397
5  2.577053  2.019435  1.770164   1.736394   1.848268
6  2.142859  1.703378  1.510851   1.493337    1.60718
7    2.1434  1.808048  1.478417    1.32814   1.522585
8  4.103668   1.88112  2.193945   2.491519   2.573068
9  3.069644  2.678309  2.254733   1.892728   1.659271

[10 rows x 23 columns]

In [ ]:
df4.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code   Type of data (a)  \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                NaN                900                NaN
1                (b)                901                NaN
2                (c)                902                NaN
3                (d)                941                NaN
4                NaN                934                NaN
5                (e)                947                NaN
6                NaN                903                NaN
7                NaN                910                NaN
8                NaN                108                B R
9                NaN                174                  B

  Female migrants as a percentage of the international migrant stock  \
                                                                1990
0                                           49.03915
1                                          51.123977
2                                          46.592099
3                                          47.261155
4                                          46.466684
5                                          47.276121
6                                          47.232408
7                                          48.504812
8                                          50.987061
9                                          52.290646


        1995       2000       2005       2010       2015
0   49.16879  49.112244  48.832993  48.305660  48.249769
1  51.149024  51.113307  51.171501  51.658932  51.866687
2  46.500135  46.128444  45.134297  43.319780  43.327078
3  47.571664  46.826689  45.157406  45.499573  45.942752
4  46.279022  46.009598  45.130768  43.043672  42.984398
5  47.555958  47.432424  46.641803  47.159413  46.827980
6  47.306127  46.917598  45.814246  46.322408  46.132389
7  48.533032  48.798989  46.700993  49.190810  49.272007
8  51.279757  51.369122   50.94404  50.767877  50.730100
9  52.550398  52.815421  52.411235  51.973371  51.644763

In [ ]:
df5.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code   Type of data (a)  \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                NaN                900                NaN
1                (b)                901                NaN
2                (c)                902                NaN
3                (d)                941                NaN
4                NaN                934                NaN
5                (e)                947                NaN
6                NaN                903                NaN
7                NaN                910                NaN
8                NaN                108                B R
9                NaN                174                  B

  Annual rate of change of the migrant stock (both sexes)             \
                                                1990-1995  1995-2000
0                                           1.051865        1.428058
1                                           2.275847        2.264965
2                                          -0.487389        0.241777
3                                           1.118175       -3.001139
4                                          -0.803244        0.850177
5                                           0.845374       -2.217102
6                                           0.826734       -1.995043
7                                          -3.435412       -0.721421
8                                          -5.355717      -14.147235
9                                          -0.199873       -0.201891

                                 \
  2000-2005 2005-2010 2010-2015
0  2.042124   2.95416  1.890991
1   2.50708  2.466343  1.160824
2  1.328107  3.702217  2.929634
3 -0.539636  0.419137  3.526927
4   1.62934  4.159339  2.852687
5    0.3391  2.101477  4.069823
6  0.521298  2.060902  4.078721
7 -0.412932 -0.377467  5.493301
8  6.384757  6.162481  3.962659
9 -0.873954 -0.915481 -0.100107

  Annual rate of change of the migrant stock (male)                       \
                                          1990-1995  1995-2000 2000-2005
0                                          1.000922   1.450294  2.151575
1                                          2.265595   2.279583  2.483259
2                                          -0.45298   0.380246  1.693824
3                                          1.000073  -2.718952  0.078575
4                                         -0.733256   0.950231  1.952269
5                                           0.73894  -2.170047  0.637663
6                                          0.798774  -1.848117  0.932749
7                                         -3.446375   -0.82504  0.390236
8                                         -5.475511 -14.183953  6.558817
9                                          -0.30906  -0.313911 -0.703362

                      Annual rate of change of the migrant stock (female)  \
  2005-2010 2010-2015                                           1990-1995
0  3.159228  1.912603                                           1.104667
1  2.265689  1.074685                                           2.285643
2  4.352954  2.927058                                          -0.526904
3  0.293964  3.363629                                           1.249146
4   4.90598  2.873490                                           -0.88418
5  1.906517  4.194878                                           0.963409
6  1.872454  4.149396                                           0.857926
7 -1.334276  5.461314                                          -3.423779
8  6.234173  3.977999                                          -5.241234
9 -0.732303  0.036271                                           -0.10077


   1995-2000 2000-2005 2005-2010 2010-2015
0   1.405044   1.92808  2.737012  1.867837
1   2.250995  2.529838   2.65595  1.241097
2   0.081268   0.89236  2.881555  2.933003
3  -3.316818 -1.265617   0.57011  3.720790
4   0.733402  1.243624  3.212358  2.825127
5  -2.269122  0.002923  2.322206  3.928769
6  -2.159983  0.045343  2.281516  3.996510
7  -0.612122 -1.291815  0.661361  5.526287
8 -14.112412  6.218568  6.093201  3.947771
9   -0.10128 -1.027599  -1.08327 -0.226961

In [ ]:
df6.head(10)

         Sort\norder Major area, region, country or area of destination  \
  Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  1                                              WORLD
1                  2                                  Developed regions
2                  3                                 Developing regions
3                  4                          Least developed countries
4                  5  Less developed regions excluding least develop...
5                  6                                 Sub-Saharan Africa
6                  7                                             Africa
7                  8                                     Eastern Africa
8                  9                                            Burundi
9                 10                                            Comoros

               Notes       Country code   Type of data (a)  \
  Unnamed: 2_level_1 Unnamed: 3_level_1 Unnamed: 4_level_1
0                NaN                900                NaN
1                (b)                901                NaN
2                (c)                902                NaN
3                (d)                941                NaN
4                NaN                934                NaN
5                (e)                947                NaN
6                NaN                903                NaN
7                NaN                910                NaN
8                NaN                108                B R
9                NaN                174                  B

  Estimated refugee stock at mid-year (both sexes)                      \
                                              1990      1995      2000
0                                         18836571  17853840  15827803
1                                          2014564   3609670   2997256
2                                         16822007  14244170  12830547
3                                          5048391   5160131   3047488
4                                         11773616   9084039   9783059
5                                          5516042   5747830   3421165
6                                          5687352   5949953   3609138
7                                          3168001   2046088   1641559
8                                           267929    173017     27136
9                                                0         5        10

                       ...  \
       2005      2010  ...
0  13276733  15370755  ...
1   2361229   2046917  ...
2  10915504  13323838  ...
3   2363782   1957884  ...
4   8551722  11365954  ...
5   2555099   2215890  ...
6   2750644   2413917  ...
7   1419685   1008358  ...
8     20681     29365  ...
9         5         0  ...

  Refugees as a percentage of the international migrant stock             \
                                                         1995       2000
0                                          11.103013            9.164736
1                                           3.910511            2.899391
2                                          20.795958           18.507035
3                                          44.041961           30.221557
4                                          15.999082            16.51313
5                                          37.507284           24.941897
6                                          36.384888           24.385563
7                                          40.736474            33.88294
8                                           67.88894            21.60028
9                                           0.035871            0.072469

                                   Annual rate of change of the refugee stock  \
        2005       2010       2015                                  1990-1995
0   6.941389   6.932687   8.033424                                  -2.123497
1   2.015025   1.544140   1.391085                                   9.388424
2  14.733162  14.944759  17.073768                                  -2.839417
3   24.08243  19.533425  28.801534                                  -0.680327
4  13.305391  14.363526  15.537313                                    -4.3836
5  18.314696  14.299050  19.155711                                  -0.022138
6  18.106889  14.334412  19.479173                                   0.076037
7  29.914606  21.652230  34.058990                                   -5.30801
8  11.963048  12.481988  16.667829                                  -3.390926
9   0.037853   0.000000   0.000000                                         ..


   1995-2000  2000-2005 2005-2010 2010-2015
0  -3.837069  -5.557223 -0.025089  2.947267
1  -5.983348  -7.277379 -5.323293 -2.087656
2  -2.332154     -4.561  0.285195  2.663652
3  -7.531747  -4.541459 -4.187109  7.766031
4   0.632489  -4.319731  1.530456  1.571047
5  -8.159723  -6.176904 -4.950214  5.848156
6  -8.003244  -5.953976 -4.672588  6.133656
7  -3.684244  -2.491296 -6.464768  9.059711
8 -22.903337 -11.817674  0.849281  5.783876
9  14.064834 -12.988989        ..        ..

[10 rows x 22 columns]

2. After data import and dataframe preparation, I will start with cleaning the first table, 'Table 1', df1.

In [ ]:
def process_table(df):
  # Drop sort/order, notes
  df = df.drop(["Sort\norder", "Notes"], axis=1)

  # Remove regions that are not a country, and add the region to be a field in it
  last_region = None
  regions = []
  kept_rows = []
  for row in df1.iterrows():
    if row[1]["Country code"]["Unnamed: 3_level_1"] >= 900:
      last_region = row[1]["Major area, region, country or area of destination"]["Unnamed: 1_level_1"]
      continue
    regions.append(last_region)
    kept_rows.append(row[0])
  df = df.iloc[kept_rows]
  df.insert(0, "Regions", regions, allow_duplicates=True)

  # Column rename and flatten
  df.rename(columns={"Unnamed: 1_level_1": "", "Unnamed: 3_level_1" :"", "Unnamed: 4_level_1":""}, inplace=True)
  df.columns = [''.join([str(v) for v in col]) for col in df.columns]
  df.rename(columns={"Major area, region, country or area of destination":"Area of Destination"}, inplace=True)

  # Define '..' as missing value, replace missing value with 0, apply the function across 6 tables
  for column in df.columns:
    df[column] = df[column].apply(lambda x : x if x != ".." else 0)
  return df

In [ ]:
# Create table 1 with the previous coded process_table function, stored, and  print out the first 20 rows
df1_processed = process_table(df1)
df1_processed.head(20)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Regions,Area of Destination,Country code,Type of data (a),International migrant stock at mid-year (both sexes)1990,International migrant stock at mid-year (both sexes)1995,International migrant stock at mid-year (both sexes)2000,International migrant stock at mid-year (both sexes)2005,International migrant stock at mid-year (both sexes)2010,International migrant stock at mid-year (both sexes)2015,...,International migrant stock at mid-year (male)2000,International migrant stock at mid-year (male)2005,International migrant stock at mid-year (male)2010,International migrant stock at mid-year (male)2015,International migrant stock at mid-year (female)1990,International migrant stock at mid-year (female)1995,International migrant stock at mid-year (female)2000,International migrant stock at mid-year (female)2005,International migrant stock at mid-year (female)2010,International migrant stock at mid-year (female)2015
8,Eastern Africa,Burundi,108,B R,333110,254853,125628,172874,235259,286810,...,61094,84805,115823,141311,169843,130688,64534,88069,119436,145499
9,Eastern Africa,Comoros,174,B,14079,13939,13799,13209,12618,12555,...,6511,6286,6060,6071,7362,7325,7288,6923,6558,6484
10,Eastern Africa,Djibouti,262,B R,122221,99774,100507,92091,101575,112351,...,52920,51315,53295,59081,57979,47298,47587,40776,48280,53270
11,Eastern Africa,Eritrea,232,I,11848,12400,12952,14314,15676,15941,...,6856,7729,8603,8833,5620,5858,6096,6585,7073,7108
12,Eastern Africa,Ethiopia,231,B R,1155390,806904,611384,514242,567720,1072949,...,322219,269725,297534,547062,548106,382787,289165,244517,270186,525887
13,Eastern Africa,Kenya,404,B R,297292,618745,699139,756894,926959,1084357,...,348594,391310,459343,541644,136440,296556,350545,365584,467616,542713
14,Eastern Africa,Madagascar,450,C,23917,21177,23541,26058,28905,32075,...,13276,14744,16410,18270,10569,9276,10265,11314,12495,13805
15,Eastern Africa,Malawi,454,B R,1127724,241624,232620,221661,217722,215158,...,111530,105931,103869,102544,581204,125426,121090,115730,113853,112614
16,Eastern Africa,Mauritius,480,C,3613,7493,15543,19647,24836,28585,...,5705,8943,13188,15832,1850,4265,9838,10704,11648,12753
17,Eastern Africa,Mayotte,175,B,15229,26316,45474,63176,72757,76992,...,23546,31364,34500,35623,6449,11637,21928,31812,38257,41369
18,Eastern Africa,Mozambique,508,B R,122332,168256,195702,204830,214612,222928,...,103175,102500,104676,107955,56272,77046,92527,102330,109936,114973
19,Eastern Africa,Réunion,638,B,57210,77159,100678,115076,123029,127209,...,52264,59196,62707,64537,26486,36449,48414,55880,60322,62672
20,Eastern Africa,Rwanda,646,B R,159869,233200,347076,432797,436787,441525,...,175685,217027,218425,220017,79179,115269,171391,215770,218362,221508
21,Eastern Africa,Seychelles,690,B,3721,5148,6574,8997,11420,12791,...,3837,5820,7804,8954,1517,2127,2737,3177,3616,3837
22,Eastern Africa,Somalia,706,I R,478294,19527,20087,20670,23995,25291,...,10622,11047,12914,13760,234093,9245,9465,9623,11081,11531
23,Eastern Africa,South Sudan,728,B R,0,0,0,0,257905,824122,...,0,0,132693,420949,0,0,0,0,125212,403173
24,Eastern Africa,Uganda,800,B R,558307,634620,634703,652968,529160,749471,...,314325,322421,261646,374438,268223,313260,320378,330547,267514,375033
25,Eastern Africa,United Republic of Tanzania,834,B R,574025,1106043,928180,770846,308600,261222,...,470962,486774,153984,130404,290635,558954,457218,284072,154616,130818
26,Eastern Africa,Zambia,894,B R,279029,244338,321167,252749,149637,127915,...,163620,128553,75775,64512,136222,119009,157547,124196,73862,63403
27,Eastern Africa,Zimbabwe,716,B R,626821,431226,410041,392693,397891,398866,...,233843,223970,226967,227379,274793,185214,176198,168723,170924,171487

In [ ]:
df1_processed.tail(20)

,Regions,Area of Destination,Country code,Type of data (a),International migrant stock at mid-year (both sexes)1990,International migrant stock at mid-year (both sexes)1995,International migrant stock at mid-year (both sexes)2000,International migrant stock at mid-year (both sexes)2005,International migrant stock at mid-year (both sexes)2010,International migrant stock at mid-year (both sexes)2015,...,International migrant stock at mid-year (male)2000,International migrant stock at mid-year (male)2005,International migrant stock at mid-year (male)2010,International migrant stock at mid-year (male)2015,International migrant stock at mid-year (female)1990,International migrant stock at mid-year (female)1995,International migrant stock at mid-year (female)2000,International migrant stock at mid-year (female)2005,International migrant stock at mid-year (female)2010,International migrant stock at mid-year (female)2015
243,Melanesia,New Caledonia,540,B,37673,43662,49651,55405,61158,64290,...,26932,29909,32886,34621,16788,19754,22719,25496,28272,29669
244,Melanesia,Papua New Guinea,598,C R,32720,33526,25101,29967,25424,25782,...,15624,18942,16370,16738,13927,13694,9477,11025,9054,9044
245,Melanesia,Solomon Islands,90,B,4226,4178,3981,3271,2760,2585,...,2224,1830,1546,1450,1877,1850,1757,1441,1214,1135
246,Melanesia,Vanuatu,548,B,2308,2461,2626,2800,2991,3187,...,1320,1398,1487,1583,1039,1166,1306,1402,1504,1604
248,Micronesia,Guam,316,B,69755,71912,74070,74743,75416,76089,...,38280,38602,38924,39246,30391,33090,35790,36141,36492,36843
249,Micronesia,Kiribati,296,B,2162,2223,2283,2487,2868,3153,...,1188,1312,1512,1662,1055,1084,1095,1175,1356,1491
250,Micronesia,Marshall Islands,584,B,1158,1480,1891,2417,3089,3284,...,1164,1485,1895,2011,437,564,727,932,1194,1273
251,Micronesia,Micronesia (Federated States of),583,B,3685,3342,3116,2905,2805,2756,...,1721,1565,1502,1473,1586,1223,1395,1340,1303,1283
252,Micronesia,Nauru,520,C,2815,2605,2394,2253,2112,3178,...,1283,1208,1133,1907,1309,1210,1111,1045,979,1271
253,Micronesia,Northern Mariana Islands,580,B,26593,32376,40122,37542,24168,21648,...,17387,15977,10223,9100,12332,16529,22735,21565,13945,12548
254,Micronesia,Palau,585,B,2801,4749,6310,6043,5787,5664,...,3905,3620,3346,3214,1001,1941,2405,2423,2441,2450
256,Polynesia,American Samoa,16,B,21283,23098,24912,24233,23555,23216,...,12898,12498,12098,11898,10108,11061,12014,11735,11457,11318
257,Polynesia,Cook Islands,184,B,2587,2686,2785,3277,3769,4152,...,1552,1724,1895,2078,1144,1189,1233,1553,1874,2074
258,Polynesia,French Polynesia,258,B,25830,28360,30329,32286,31640,30058,...,17604,18405,18037,17136,10386,11671,12725,13881,13603,12922
259,Polynesia,Niue,570,B,461,480,498,522,545,557,...,268,282,295,302,216,223,230,240,250,255
260,Polynesia,Samoa,882,B,3357,4694,5998,5746,5122,4929,...,3101,2940,2594,2469,1586,2243,2897,2806,2528,2460
261,Polynesia,Tokelau,772,B,270,266,262,258,429,487,...,144,133,206,233,120,119,118,125,223,254
262,Polynesia,Tonga,776,B,2911,3274,3684,4301,5022,5731,...,1981,2328,2727,3127,1423,1556,1703,1973,2295,2604
263,Polynesia,Tuvalu,798,C,318,263,217,183,154,141,...,121,101,85,78,138,115,96,82,69,63
264,Polynesia,Wallis and Futuna Islands,876,B,1402,1680,2015,2365,2776,2849,...,1018,1194,1401,1438,676,821,997,1171,1375,1411

In [ ]:
df1_processed.shape

(232, 22)

In [ ]:
# Given the process table function, apply the changes to the rest of the tables
df2_processed = process_table(df2)
df3_processed = process_table(df3)
df4_processed = process_table(df4)
df5_processed = process_table(df5)
df6_processed = process_table(df6)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [ ]:
df2_processed.head(10)

,Regions,Area of Destination,Country code,Total population of both sexes at mid-year (thousands)1990,Total population of both sexes at mid-year (thousands)1995,Total population of both sexes at mid-year (thousands)2000,Total population of both sexes at mid-year (thousands)2005,Total population of both sexes at mid-year (thousands)2010,Total population of both sexes at mid-year (thousands)2015,Total male population at mid-year (thousands)1990,...,Total male population at mid-year (thousands)2000,Total male population at mid-year (thousands)2005,Total male population at mid-year (thousands)2010,Total male population at mid-year (thousands)2015,Total female population at mid-year (thousands)1990,Total female population at mid-year (thousands)1995,Total female population at mid-year (thousands)2000,Total female population at mid-year (thousands)2005,Total female population at mid-year (thousands)2010,Total female population at mid-year (thousands)2015
8,Eastern Africa,Burundi,108,5613.141,6239.030,6767.073,7934.213,9461.117,11178.921,2755.028,...,3336.457,3920.028,4667.414,5524.232,2858.113,3184.663,3430.616,4014.185,4793.703,5654.689
9,Eastern Africa,Comoros,174,415.144,479.574,547.696,618.632,698.695,788.474,208.212,...,275.584,311.589,352.211,397.700,206.932,238.627,272.112,307.043,346.484,390.774
10,Eastern Africa,Djibouti,262,588.356,661.076,722.562,778.406,830.802,887.861,295.933,...,363.204,391.191,417.417,445.842,292.423,328.615,359.358,387.215,413.385,442.019
11,Eastern Africa,Eritrea,232,3139.083,3164.095,3535.156,4191.273,4689.664,5227.791,1558.486,...,1758.329,2090.208,2343.704,2618.843,1580.597,1592.967,1776.827,2101.065,2345.960,2608.948
12,Eastern Africa,Ethiopia,231,48057.094,57237.226,66443.603,76608.431,87561.814,99390.750,23965.647,...,33129.426,38216.568,43697.293,49607.611,24091.447,28701.225,33314.177,38391.863,43864.521,49783.139
13,Eastern Africa,Kenya,404,23446.229,27373.035,31065.820,35349.040,40328.313,46050.302,11678.270,...,15487.890,17664.790,20159.249,23016.937,11767.959,13740.235,15577.930,17684.250,20169.064,23033.365
14,Eastern Africa,Madagascar,450,11545.782,13452.526,15744.811,18290.394,21079.532,24235.390,5764.586,...,7839.327,9107.061,10499.833,12082.461,5781.196,6748.327,7905.484,9183.333,10579.699,12152.929
15,Eastern Africa,Malawi,454,9408.998,9822.812,11193.230,12747.846,14769.824,17215.232,4623.172,...,5550.543,6341.753,7356.471,8593.061,4785.826,4962.954,5642.687,6406.093,7413.353,8622.171
16,Eastern Africa,Mauritius,480,1055.865,1128.676,1185.143,1222.006,1247.951,1273.212,526.544,...,587.689,605.618,618.578,628.841,529.321,566.024,597.454,616.388,629.373,644.371
17,Eastern Africa,Mayotte,175,94.780,123.182,150.329,178.103,208.723,240.015,48.455,...,76.058,87.776,102.035,117.878,46.325,60.634,74.271,90.327,106.688,122.137

In [ ]:
df3_processed.head(10)

,Regions,Area of Destination,Country code,Type of data (a),International migrant stock as a percentage of the total population (both sexes)1990,International migrant stock as a percentage of the total population (both sexes)1995,International migrant stock as a percentage of the total population (both sexes)2000,International migrant stock as a percentage of the total population (both sexes)2005,International migrant stock as a percentage of the total population (both sexes)2010,International migrant stock as a percentage of the total population (both sexes)2015,...,International migrant stock as a percentage of the total population (male)2000,International migrant stock as a percentage of the total population (male)2005,International migrant stock as a percentage of the total population (male)2010,International migrant stock as a percentage of the total population (male)2015,International migrant stock as a percentage of the total population (female)1990,International migrant stock as a percentage of the total population (female)1995,International migrant stock as a percentage of the total population (female)2000,International migrant stock as a percentage of the total population (female)2005,International migrant stock as a percentage of the total population (female)2010,International migrant stock as a percentage of the total population (female)2015
8,Eastern Africa,Burundi,108,B R,5.934467,4.084818,1.856460,2.178842,2.486588,2.565632,...,1.831104,2.163377,2.481524,2.558021,5.942487,4.103668,1.881120,2.193945,2.491519,2.573068
9,Eastern Africa,Comoros,174,B,3.391353,2.906538,2.519463,2.135195,1.805938,1.592316,...,2.362619,2.017401,1.720560,1.526528,3.557690,3.069644,2.678309,2.254733,1.892728,1.659271
10,Eastern Africa,Djibouti,262,B R,20.773307,15.092667,13.909810,11.830716,12.226138,12.654120,...,14.570324,13.117633,12.767808,13.251555,19.827100,14.393135,13.242226,10.530584,11.679185,12.051518
11,Eastern Africa,Eritrea,232,I,0.377435,0.391897,0.366377,0.341519,0.334267,0.304928,...,0.389916,0.369772,0.367069,0.337286,0.355562,0.367741,0.343083,0.313412,0.301497,0.272447
12,Eastern Africa,Ethiopia,231,B R,2.404203,1.409754,0.920155,0.671260,0.648365,1.079526,...,0.972607,0.705780,0.680898,1.102778,2.275106,1.333696,0.867994,0.636898,0.615956,1.056356
13,Eastern Africa,Kenya,404,B R,1.267974,2.260418,2.250509,2.141201,2.298532,2.354723,...,2.250752,2.215198,2.278572,2.353241,1.159419,2.158304,2.250267,2.067286,2.318481,2.356204
14,Eastern Africa,Madagascar,450,C,0.207149,0.157420,0.149516,0.142468,0.137124,0.132348,...,0.169351,0.161896,0.156288,0.151211,0.182817,0.137456,0.129847,0.123201,0.118104,0.113594
15,Eastern Africa,Malawi,454,B R,11.985591,2.459825,2.078220,1.738811,1.474100,1.249812,...,2.009353,1.670374,1.411941,1.193335,12.144278,2.527245,2.145963,1.806561,1.535783,1.306098
16,Eastern Africa,Mauritius,480,C,0.342184,0.663875,1.311487,1.607766,1.990142,2.245109,...,0.970752,1.476673,2.131987,2.517648,0.349504,0.753502,1.646654,1.736569,1.850731,1.979139
17,Eastern Africa,Mayotte,175,B,16.067736,21.363511,30.249652,35.471609,34.858161,32.077995,...,30.957953,35.731863,33.811927,30.220228,13.921209,19.192202,29.524310,35.218705,35.858766,33.870981

In [ ]:
df4_processed.head(10)

,Regions,Area of Destination,Country code,Type of data (a),Female migrants as a percentage of the international migrant stock1990,Female migrants as a percentage of the international migrant stock1995,Female migrants as a percentage of the international migrant stock2000,Female migrants as a percentage of the international migrant stock2005,Female migrants as a percentage of the international migrant stock2010,Female migrants as a percentage of the international migrant stock2015
8,Eastern Africa,Burundi,108,B R,50.987061,51.279757,51.369122,50.944040,50.767877,50.730100
9,Eastern Africa,Comoros,174,B,52.290646,52.550398,52.815421,52.411235,51.973371,51.644763
10,Eastern Africa,Djibouti,262,B R,47.437838,47.405136,47.346951,44.277942,47.531381,47.413908
11,Eastern Africa,Eritrea,232,I,47.434166,47.241935,47.066090,46.003912,45.119929,44.589423
12,Eastern Africa,Ethiopia,231,B R,47.439047,47.438977,47.296789,47.549014,47.591418,49.013234
13,Eastern Africa,Kenya,404,B R,45.894272,47.928630,50.139529,48.300555,50.446244,50.049292
14,Eastern Africa,Madagascar,450,C,44.190325,43.802238,43.604775,43.418528,43.227815,43.039751
15,Eastern Africa,Malawi,454,B R,51.537788,51.909579,52.054853,52.210357,52.292832,52.340141
16,Eastern Africa,Mauritius,480,C,51.203986,56.919792,63.295374,54.481600,46.899662,44.614308
17,Eastern Africa,Mayotte,175,B,42.346838,44.220246,48.220961,50.354565,52.581882,53.731557

In [ ]:
df5_processed.head(10)

,Regions,Area of Destination,Country code,Type of data (a),Annual rate of change of the migrant stock (both sexes)1990-1995,Annual rate of change of the migrant stock (both sexes)1995-2000,Annual rate of change of the migrant stock (both sexes)2000-2005,Annual rate of change of the migrant stock (both sexes)2005-2010,Annual rate of change of the migrant stock (both sexes)2010-2015,Annual rate of change of the migrant stock (male)1990-1995,Annual rate of change of the migrant stock (male)1995-2000,Annual rate of change of the migrant stock (male)2000-2005,Annual rate of change of the migrant stock (male)2005-2010,Annual rate of change of the migrant stock (male)2010-2015,Annual rate of change of the migrant stock (female)1990-1995,Annual rate of change of the migrant stock (female)1995-2000,Annual rate of change of the migrant stock (female)2000-2005,Annual rate of change of the migrant stock (female)2005-2010,Annual rate of change of the migrant stock (female)2010-2015
8,Eastern Africa,Burundi,108,B R,-5.355717,-14.147235,6.384757,6.162481,3.962659,-5.475511,-14.183953,6.558817,6.234173,3.977999,-5.241234,-14.112412,6.218568,6.093201,3.947771
9,Eastern Africa,Comoros,174,B,-0.199873,-0.201891,-0.873954,-0.915481,-0.100107,-0.309060,-0.313911,-0.703362,-0.732303,0.036271,-0.100770,-0.101280,-1.027599,-1.083270,-0.226961
10,Eastern Africa,Djibouti,262,B R,-4.058465,0.146395,-1.749003,1.960404,2.016609,-4.046026,0.168508,-0.615965,0.757188,2.061337,-4.072257,0.121832,-3.089319,3.378474,1.967118
11,Eastern Africa,Eritrea,232,I,0.910748,0.871075,1.999757,1.817856,0.335271,0.983754,0.937625,2.397106,2.142630,0.527675,0.829532,0.796491,1.543230,1.429808,0.098724
12,Eastern Africa,Ethiopia,231,B R,-7.179771,-5.549589,-3.460625,1.978687,12.730757,-7.179744,-5.495558,-3.556570,1.962512,12.180673,-7.179800,-5.609625,-3.354252,1.996515,13.319515
13,Eastern Africa,Kenya,404,B R,14.659568,2.443127,1.587473,4.053722,3.136663,13.893073,1.575392,2.311843,3.205942,3.296235,15.527022,3.345060,0.840140,4.923027,2.978664
14,Eastern Africa,Madagascar,450,C,-2.433476,2.116558,2.031625,2.073795,2.081246,-2.294883,2.186709,2.097567,2.141094,2.147389,-2.609895,2.026193,1.946017,1.985753,1.994046
15,Eastern Africa,Malawi,454,B R,-30.811478,-0.759532,-0.965141,-0.358603,-0.236928,-30.965505,-0.820040,-1.030113,-0.393149,-0.256770,-30.667717,-0.703637,-0.905484,-0.327035,-0.218842
16,Eastern Africa,Mauritius,480,C,14.588616,14.592823,4.686286,4.687391,2.811758,12.096917,11.389605,8.990562,7.768724,3.654518,16.705131,16.716205,1.687301,1.690340,1.812641
17,Eastern Africa,Mayotte,175,B,10.939512,10.939272,6.575675,2.824013,1.131528,10.278830,9.450761,5.734096,1.905972,0.640643,11.805292,12.671494,7.441584,3.689659,1.564105

In [ ]:
# Observe missinb value
df6_processed

,Regions,Area of Destination,Country code,Type of data (a),Estimated refugee stock at mid-year (both sexes)1990,Estimated refugee stock at mid-year (both sexes)1995,Estimated refugee stock at mid-year (both sexes)2000,Estimated refugee stock at mid-year (both sexes)2005,Estimated refugee stock at mid-year (both sexes)2010,Estimated refugee stock at mid-year (both sexes)2015,...,Refugees as a percentage of the international migrant stock1995,Refugees as a percentage of the international migrant stock2000,Refugees as a percentage of the international migrant stock2005,Refugees as a percentage of the international migrant stock2010,Refugees as a percentage of the international migrant stock2015,Annual rate of change of the refugee stock1990-1995,Annual rate of change of the refugee stock1995-2000,Annual rate of change of the refugee stock2000-2005,Annual rate of change of the refugee stock2005-2010,Annual rate of change of the refugee stock2010-2015
8,Eastern Africa,Burundi,108,B R,267929,173017,27136,20681,29365,47805,...,67.888940,21.600280,11.963048,12.481988,16.667829,-3.390926,-22.903337,-11.817674,0.849281,5.783876
9,Eastern Africa,Comoros,174,B,0,5,10,5,0,0,...,0.035871,0.072469,0.037853,0.000000,0.000000,0.000000,14.064834,-12.988989,0.000000,0.000000
10,Eastern Africa,Djibouti,262,B R,54508,27310,23257,10456,15104,20530,...,27.371860,23.139682,11.353987,14.869801,18.273091,-9.763426,-3.359330,-14.239601,5.395268,4.121943
11,Eastern Africa,Eritrea,232,I,0,1083,1984,4418,4809,2898,...,8.733871,15.318098,30.864888,30.677469,18.179537,0.000000,11.236526,14.011685,-0.121815,-10.464637
12,Eastern Africa,Ethiopia,231,B R,741965,393479,197959,100817,154295,659524,...,48.764041,32.378832,19.604972,27.178010,61.468346,-5.505717,-8.189766,-10.034434,6.532500,16.322283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Polynesia,Samoa,882,B,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
261,Polynesia,Tokelau,772,B,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
262,Polynesia,Tonga,776,B,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
263,Polynesia,Tuvalu,798,C,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
264,Polynesia,Wallis and Futuna Islands,876,B,0,0,0,0,0,0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
# Create a combination of all tables into one dictionary
all_dfs = [df1_processed, df2_processed, df3_processed, df4_processed, df5_processed, df6_processed]
merged_df = reduce(lambda left, right : pd.merge(left, right, on=["Area of Destination", "Country code", "Regions"]), all_dfs)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Type of data (a)_x'} in the result is deprecated and will raise a MergeError in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# Print out the merged table
merged_df

,Regions,Area of Destination,Country code,Type of data (a)_x,International migrant stock at mid-year (both sexes)1990,International migrant stock at mid-year (both sexes)1995,International migrant stock at mid-year (both sexes)2000,International migrant stock at mid-year (both sexes)2005,International migrant stock at mid-year (both sexes)2010,International migrant stock at mid-year (both sexes)2015,...,Refugees as a percentage of the international migrant stock1995,Refugees as a percentage of the international migrant stock2000,Refugees as a percentage of the international migrant stock2005,Refugees as a percentage of the international migrant stock2010,Refugees as a percentage of the international migrant stock2015,Annual rate of change of the refugee stock1990-1995,Annual rate of change of the refugee stock1995-2000,Annual rate of change of the refugee stock2000-2005,Annual rate of change of the refugee stock2005-2010,Annual rate of change of the refugee stock2010-2015
0,Eastern Africa,Burundi,108,B R,333110,254853,125628,172874,235259,286810,...,67.888940,21.600280,11.963048,12.481988,16.667829,-3.390926,-22.903337,-11.817674,0.849281,5.783876
1,Eastern Africa,Comoros,174,B,14079,13939,13799,13209,12618,12555,...,0.035871,0.072469,0.037853,0.000000,0.000000,0.000000,14.064834,-12.988989,0.000000,0.000000
2,Eastern Africa,Djibouti,262,B R,122221,99774,100507,92091,101575,112351,...,27.371860,23.139682,11.353987,14.869801,18.273091,-9.763426,-3.359330,-14.239601,5.395268,4.121943
3,Eastern Africa,Eritrea,232,I,11848,12400,12952,14314,15676,15941,...,8.733871,15.318098,30.864888,30.677469,18.179537,0.000000,11.236526,14.011685,-0.121815,-10.464637
4,Eastern Africa,Ethiopia,231,B R,1155390,806904,611384,514242,567720,1072949,...,48.764041,32.378832,19.604972,27.178010,61.468346,-5.505717,-8.189766,-10.034434,6.532500,16.322283
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Polynesia,Samoa,882,B,3357,4694,5998,5746,5122,4929,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
228,Polynesia,Tokelau,772,B,270,266,262,258,429,487,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
229,Polynesia,Tonga,776,B,2911,3274,3684,4301,5022,5731,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
230,Polynesia,Tuvalu,798,C,318,263,217,183,154,141,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
231,Polynesia,Wallis and Futuna Islands,876,B,1402,1680,2015,2365,2776,2849,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
# Check how many rows and columns
merged_df.shape

(232, 100)

In [ ]:
merged_df.columns

Index(['Regions', 'Area of Destination', 'Country code', 'Type of data (a)_x',
       'International migrant stock at mid-year (both sexes)1990',
       'International migrant stock at mid-year (both sexes)1995',
       'International migrant stock at mid-year (both sexes)2000',
       'International migrant stock at mid-year (both sexes)2005',
       'International migrant stock at mid-year (both sexes)2010',
       'International migrant stock at mid-year (both sexes)2015',
       'International migrant stock at mid-year (male)1990',
       'International migrant stock at mid-year (male)1995',
       'International migrant stock at mid-year (male)2000',
       'International migrant stock at mid-year (male)2005',
       'International migrant stock at mid-year (male)2010',
       'International migrant stock at mid-year (male)2015',
       'International migrant stock at mid-year (female)1990',
       'International migrant stock at mid-year (female)1995',
       'International migrant stock at mid-year (female)2000',
       'International migrant stock at mid-year (female)2005',
       'International migrant stock at mid-year (female)2010',
       'International migrant stock at mid-year (female)2015',
       'Total population of both sexes at mid-year (thousands)1990',
       'Total population of both sexes at mid-year (thousands)1995',
       'Total population of both sexes at mid-year (thousands)2000',
       'Total population of both sexes at mid-year (thousands)2005',
       'Total population of both sexes at mid-year (thousands)2010',
       'Total population of both sexes at mid-year (thousands)2015',
       'Total male population at mid-year (thousands)1990',
       'Total male population at mid-year (thousands)1995',
       'Total male population at mid-year (thousands)2000',
       'Total male population at mid-year (thousands)2005',
       'Total male population at mid-year (thousands)2010',
       'Total male population at mid-year (thousands)2015',
       'Total female population at mid-year (thousands)1990',
       'Total female population at mid-year (thousands)1995',
       'Total female population at mid-year (thousands)2000',
       'Total female population at mid-year (thousands)2005',
       'Total female population at mid-year (thousands)2010',
       'Total female population at mid-year (thousands)2015',
       'Type of data (a)_y',
       'International migrant stock as a percentage of the total population (both sexes)1990',
       'International migrant stock as a percentage of the total population (both sexes)1995',
       'International migrant stock as a percentage of the total population (both sexes)2000',
       'International migrant stock as a percentage of the total population (both sexes)2005',
       'International migrant stock as a percentage of the total population (both sexes)2010',
       'International migrant stock as a percentage of the total population (both sexes)2015',
       'International migrant stock as a percentage of the total population (male)1990',
       'International migrant stock as a percentage of the total population (male)1995',
       'International migrant stock as a percentage of the total population (male)2000',
       'International migrant stock as a percentage of the total population (male)2005',
       'International migrant stock as a percentage of the total population (male)2010',
       'International migrant stock as a percentage of the total population (male)2015',
       'International migrant stock as a percentage of the total population (female)1990',
       'International migrant stock as a percentage of the total population (female)1995',
       'International migrant stock as a percentage of the total population (female)2000',
       'International migrant stock as a percentage of the total population (female)2005',
       'International migrant stock as a percentage of the total population (female)2010',
       'International migrant stock as a percentage of the total population (female)2015',
       'Type of data (a)_x',
       'Female migrants as a percentage of the international migrant stock1990',
       'Female migrants as a percentage of the international migrant stock1995',
       'Female migrants as a percentage of the international migrant stock2000',
       'Female migrants as a percentage of the international migrant stock2005',
       'Female migrants as a percentage of the international migrant stock2010',
       'Female migrants as a percentage of the international migrant stock2015',
       'Type of data (a)_y',
       'Annual rate of change of the migrant stock (both sexes)1990-1995',
       'Annual rate of change of the migrant stock (both sexes)1995-2000',
       'Annual rate of change of the migrant stock (both sexes)2000-2005',
       'Annual rate of change of the migrant stock (both sexes)2005-2010',
       'Annual rate of change of the migrant stock (both sexes)2010-2015',
       'Annual rate of change of the migrant stock (male)1990-1995',
       'Annual rate of change of the migrant stock (male)1995-2000',
       'Annual rate of change of the migrant stock (male)2000-2005',
       'Annual rate of change of the migrant stock (male)2005-2010',
       'Annual rate of change of the migrant stock (male)2010-2015',
       'Annual rate of change of the migrant stock (female)1990-1995',
       'Annual rate of change of the migrant stock (female)1995-2000',
       'Annual rate of change of the migrant stock (female)2000-2005',
       'Annual rate of change of the migrant stock (female)2005-2010',
       'Annual rate of change of the migrant stock (female)2010-2015',
       'Type of data (a)',
       'Estimated refugee stock at mid-year (both sexes)1990',
       'Estimated refugee stock at mid-year (both sexes)1995',
       'Estimated refugee stock at mid-year (both sexes)2000',
       'Estimated refugee stock at mid-year (both sexes)2005',
       'Estimated refugee stock at mid-year (both sexes)2010',
       'Estimated refugee stock at mid-year (both sexes)2015',
       'Refugees as a percentage of the international migrant stock1990',
       'Refugees as a percentage of the international migrant stock1995',
       'Refugees as a percentage of the international migrant stock2000',
       'Refugees as a percentage of the international migrant stock2005',
       'Refugees as a percentage of the international migrant stock2010',
       'Refugees as a percentage of the international migrant stock2015',
       'Annual rate of change of the refugee stock1990-1995',
       'Annual rate of change of the refugee stock1995-2000',
       'Annual rate of change of the refugee stock2000-2005',
       'Annual rate of change of the refugee stock2005-2010',
       'Annual rate of change of the refugee stock2010-2015'],
      dtype='object')